name: flutter_timeline
description: a fully customizable & general timeline widget, based on real-world application references
version: 0.2.0+14
homepage: https://github.com/softmarshmallow/flutter-timeline
repository: https://github.com/softmarshmallow/flutter-timeline
license: MIT

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
#
