name: Flutter Web
on:
  push:
    branches:
      - master
    paths-ignore:
    - 'doc/**'
    - 'README.md'
jobs:
  build:
    name: Build Web
    env:
      my_secret: ${{secrets.commit_secret}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - run: flutter config --enable-web
      - run: flutter pub get
      - run: |
          cd example
          flutter build web --release
      - run: |
          cd example/build/web
          git init
          git config --global user.email woojoo@softmarshmallow.com
          git config --global user.name softmarshmallow
          git status
          git remote add origin https://${{secrets.commit_secret}}@github.com/softmarshmallow/flutter-timeline.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f
